body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.glide {
  display: flex; //Important as we want the individual sliders to fill up the glide container; all child elements would be shown in first slide without it
  height: 100%;
  flex-direction: column;
  &__slides {
    margin: 32px 0;
  }
}
.GlideContainer {
  color: white;
  width: 400px;
  background-color: #002240;
  border-radius: 8px;
  padding: 18px;
}
.GlideHorizontalGlider {
  &__header {
    font-size: 24px;
    font-weight: 600;
  }
}
