body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f; //rgba(0, 0, 0, 0.1);
}
.glide {
  height: 100%;
  flex-direction: column;
  &__slides {
    margin: 32px 0;
  }
}
.GlideHeader {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 42px;
  color: white; //#1f1f1f
}
.GlideContainer {
  width: 400px;
  border-radius: 8px;
}
.GlideHorizontalGlider {
  border-radius: 8px;
}
