<div class="GlideHeader">

</div>
<div class="GlideContainer" {{did-insert this.onLoad}}>
  <div class="glide GlideHorizontalGlider">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {{#each this.dummyData as |slide index|}}
          <li class="glide__slide number-slide{{index}}">
            <div class="keen-slider KeenVerticalGlider KeenVerticalGlider-{{index}}">
              {{#each slide.touchpoints as |subSlide|}}
                <div class="keen-slider__slide">{{subSlide}}</div>
              {{/each}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button type="button" class="glide__arrow glide__arrow--left" data-glide-dir="<">
        Previous Slide
      </button>
      <button type="button" class="glide__arrow glide__arrow--right"
        data-glide-dir=">">
        Next Slide
      </button>
      <button type="button" class="glide__arrow glide__arrow--up">
        Previous Sub-Slide
      </button>
      <button type="button" class="glide__arrow glide__arrow--down">
        Next Sub-Slide
      </button>
    </div>
  </div>
</div>
