<div class="GlideHeader">
  Glide js with Kleen-slider
</div>
<div class="GlideContainer" {{did-insert this.onLoad}}>
  <div class="glide GlideHorizontalGlider">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide number-slide1">
          <div class="keen-slider KeenVerticalGlider KeenVerticalGlider-1">
            <div class="keen-slider__slide">1.0</div>
            <div class="keen-slider__slide">1.1</div>
            <div class="keen-slider__slide">1.2</div>
          </div>
        </li>
        <li class="glide__slide number-slide2">
          <div class="keen-slider KeenVerticalGlider KeenVerticalGlider-2">
            <div class="keen-slider__slide">2.0</div>
            <div class="keen-slider__slide">2.1</div>
            <div class="keen-slider__slide">2.2</div>
          </div>
        </li>
        <li class="glide__slide number-slide3">
          <div class="keen-slider KeenVerticalGlider KeenVerticalGlider-3">
            <div class="keen-slider__slide">3.0</div>
            <div class="keen-slider__slide">3.1</div>
            <div class="keen-slider__slide">3.2</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button type="button" class="glide__arrow glide__arrow--left" data-glide-dir="<">
        Previous Slide
      </button>
      <button type="button" class="glide__arrow glide__arrow--right"
        data-glide-dir=">">
        Next Slide
      </button>
      <button type="button" class="glide__arrow glide__arrow--up">
        Previous Sub-Slide
      </button>
      <button type="button" class="glide__arrow glide__arrow--down">
        Next Sub-Slide
      </button>
    </div>
  </div>
</div>
